<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/variants_db.css') }}" >
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>VariantDB Variant Database</title>
</head>

<body>
  <main>

    <!-- Navbar -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="/">VariantDB Variant Database</a>
      <style type="text/css">
        </style>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
               
          <li class="nav-item">
            <a class="nav-link" href="/view">View</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/grch38">GRCh38</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/kwi11iams/MongoDB-University">GitHub</a>
          </li>
           

        </ul>
        <i class="fas fa-question-circle fa-2x" data-toggle="tooltip" title="Search for a variant at a genomic position (e.g 17-41247941)" style="color:white"></i>
        <form class="form-inline my-2 my-md-0" action="/results/" method="get">
          <input class="form-control" type="text" placeholder="Search" name="query"><button class="btn btn-light my-2 my-sm-0" type="submit" value="Search">Search</button>
        </form>
      </div>
    </nav>
  
    
    <!-- Block content -->
    <div>
    <div id="table"></div>
      <!-- MAIN BLOCK START -->
      <p></p>
      {% block content %}
      {% endblock %}
      <!-- MAIN BLOCK END -->
    </div>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    {% block scripts %}{% endblock %} 
  </main>

</body>