{% extends 'base.html' %}
{% block content %}
<h1>About</h1>
<body>
    <br></br>
    VariantsDB is a database of variants. It incorporates a Flask app and a MongoDB database of variants. Variants can be viewed, filtered and edited.
    <br></br>
    Created by Katie Williams (<a href='https://github.com/@kwi11iams'>@kwi11iams</a>), Katherine Winfield (<a href='https://github.com/kjwinfield'>@kjwinfield</a>) and Simon Lam (<a href='https://github.com/slam2049'>@slam2049</a>)
    <br></br>   
    Source code can be viewed by clicking the GitHub link in the navigation bar.
</body>

{% endblock %}
