<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VariantsDB search</title>
</head>
<body>
    <h1>VariantsDB search page</h1>
    <form method="POST">
        <p>
            <p>Search by variant type</p>
            <input type="text" name="variant_consequence_search"></input>
        </p>
        <p>
            <p>Search by chromosome</p>
            <input type="number" name="chromosome_search"></input>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>

    </form>
    <hr>
    {% for r in records %}
        <div class="result">
            <p>{{r}}</p>
        </div>
    {% endfor %}       
</body>