{% extends 'base.html' %}
{% block content %} 

<body>
    <h1>VariantsDB search page</h1>
    <form method="POST">
        <p>
            <p>Search by variant type</p>
            <input type="text" name="variant_consequence_search"></input>
        </p>
        <p>
            <p>Search by chromosome:</p>
            <input type="number" name="chromosome_search"></input>
        </p>
        <p>
          Search by position:
          <p>Start<input type="number" name="start_search"></input>&nbsp;&nbsp;&nbsp;&nbsp;End<input type="number" name="end_search"></input></p>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>

    </form>
    <hr>
    <table id="data" class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>HGVS</th>
            <th>Assembly</th>
            <th>Chromosome</th>
            <th>Start</th>
            <th>End</th>
          </tr>
        </thead>
        {% if r %}
        {% for variant in r %}
        <tbody>
            <tr>
              <td>{{ variant.name }}</td>
              <td>{{ variant.synonyms[0] }}</td>
              <td>{{ variant.mappings[0].assembly_name }}</td>
              <td>{{ variant.mappings[0].seq_region_name }}</td>
              <td>{{ variant.mappings[0].start }}</td>
              <td>{{ variant.mappings[0].end }}</td>
            </tr>
        </tbody>
        {% endfor %}
        {% endif %}
      </table>   
</body>
{% endblock %} 

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}

