{% extends 'base.html' %}

{% block content %} 
<table id="data" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Assembly</th>
      <th>Chromosome</th>
      <th>Start</th>
      <th>End</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td>{{ variant.name }}</td>
    <td>{{ variant.mappings[0].assembly_name }}</td>
    <td>{{ variant.mappings[0].seq_region_name }}</td>
    <td>{{ variant.mappings[0].start }}</td>
    <td>{{ variant.mappings[0].end }}</td>
    </tr>
  </tbody>
</table>
<!-- <pre>
<code>
    {{variant}}
</code>
</pre> -->
<a class="btn btn-primary" href="/edit/{{variant._id}}">Edit</a>
<form method="POST" action="/">
  <p> ID: <input type="text" value="{{ variant._id }}" readonly></input></p>
  <p> source: <input type="text" value="{{ variant.source }}" readonly></input></p>
  <p> mappings: </p>
  <p> position: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="{{ variant.mappings.0.location }}" readonly></input></p>
  <p> Assembly: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="{{ variant.mappings.0.assembly_name }}" readonly></input></p>
  <p> Chromosome: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="{{ variant.mappings.0.seq_region_name }}" readonly></input></p>
  <p> strand: &nbsp;&nbsp;&nbsp;&nbsp;<input type="number" value="{{ variant.mappings.0.strand }}" readonly></input></p>
  <p> name: <input type="text" value="{{ variant.name }}" readonly></input></p>
  <p> MAF: <input type="text" value="{{ variant.MAF }}" readonly></input></p>
  <p> ambiguity: <input type="text" value="{{ variant.ambiguity }}" readonly></input></p>
  <p> var_class: <input type="text" value="{{ variant.var_class }}" readonly></input></p>
  <p> synonyms: <textarea type="text" cols="40" rows="5">{{ variant.synonyms }}</textarea></p>
  <p> evidence: <textarea type="text" cols="40" rows="5">{{ variant.evidence }}</textarea></p>
  <p> ancestral_allele: <input type="text" value="{{ variant.ancestral_allele }}" readonly></input></p>
  <p> minor_allele: <input type="text" value="{{ variant.minor_allele }}" readonly></input></p>
  <p> most_severe_consequence: <input type="text" value="{{ variant.most_severe_consequence }}" readonly></input></p>  
 </form> 

{% endblock %} 

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        "bFilter": false,
        "bPaginate": false
     });      
    });
  </script>
{% endblock %}