{% extends 'base.html' %}

{% block content %} 
<table id="data" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Assembly</th>
      <th>Chromosome</th>
      <th>Start</th>
      <th>End</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td>{{ variant.name }}</td>
    <td>{{ variant.mappings[0].assembly_name }}</td>
    <td>{{ variant.mappings[0].seq_region_name }}</td>
    <td>{{ variant.mappings[0].start }}</td>
    <td>{{ variant.mappings[0].end }}</td>
    </tr>
  </tbody>
</table>
<pre>
<code>
    {{variant}}
</code>
</pre>
{% endblock %} 

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        "bFilter": false,
        "bPaginate": false
     });      
    });
  </script>
{% endblock %}